<style>
    * {
        margin: 0;
    }
</style>

<div class='wrapper'>
    <p>Kính gửi {{fullNameUser}},</p><br>
    <p>Cảm ơn bạn đã sử dụng TinyMarket</p>
    <p>Chúng tôi muốn thông báo với bạn rằng ngày tổ chức sự kiện mà chúng tôi tham gia đang đến gần.</p>
    <p>Chi tiết sự kiện ở bên dưới. </p>
    <p>-------------------------------------------------</p>
    <p>Sự kiện: {{nameEvent}}</p>
    <p>Ngày giờ: {{startDate}}</p>
    <p>Địa điểm: {{place}}</p>
    <p>-------------------------------------------------</p>
    <p>Cảm ơn bạn đã tham gia sự kiện mặc dù lịch trình bận rộn của bạn.</p>
    <p>Chúng tôi rất mong được gặp bạn tại địa điểm vào ngày hôm đó.</p>
</div>
