<p>Cảm ơn bạn đã đăng ký Cycle Compass. Đăng ký vẫn chưa hoàn tất. Vui lòng nhập OTP bên dưới và hoàn tất thủ tục đăng ký. </p>
<p>------ {{otpCode}} ------ </p>
<p>※ Xin lưu ý rằng OTP trên sẽ không hợp lệ nếu việc đăng ký không được hoàn thành trong vòng 2 phút. </p>
